* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    background-image: linear-gradient(orange, rgb(218, 89, 50));
}

.jumbotron {
    background-image: url(../media/img/vegetales.jpg);
    height: 450PX;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 60px;
    text-align: center;
    color: rgb(247, 246, 241);
    text-shadow: 5px 5px 10PX black;
    background-size: cover;
    background-position: bottom;
}
body{
    background-image:linear-gradient(rgb(248, 118, 12), rgb(243, 159, 50));
}




/*---------------------contacto-----------------------------*/
.textoFormulario p{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}

/*-------------------------------footer.......................................*/
    
footer{
    background-image: linear-gradient(orange, rgb(196, 72, 34));;
    font-size: 40px;
    height: 180px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    padding: 20px;
    }
    
footer p{
    font-style: italic;
    font-size: 40px;
    background-color: black;
    color: aliceblue;
    background-size:cover ;    
}   
footer i{
    height: 80px;
    width: 80px;
    font-size: 50px;
    color: black;
}
    
footer i:hover{
    color: aliceblue;
}  
